@font-face {
  font-family: "icar_sys"; /* Project id 2398771 */
  src: url('iconfont.woff2?t=1620825998976') format('woff2'),
       url('iconfont.woff?t=1620825998976') format('woff'),
       url('iconfont.ttf?t=1620825998976') format('truetype');
}

.icar_sys {
  font-family: "icar_sys" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icarguanli:before {
  content: "\e63d";
}

.icar-yujingyucefenxi:before {
  content: "\e620";
}

.icarrizhi:before {
  content: "\e612";
}

.icaryonghu:before {
  content: "\e62e";
}

.icardrxx66:before {
  content: "\e702";
}

.icarshipin2:before {
  content: "\eddf";
}

.icartongjifenxi1:before {
  content: "\e64a";
}

.icaruser:before {
  content: "\e63c";
}

.icarmima:before {
  content: "\e618";
}

